
body {
  margin: 0;
  max-width: 100vw;
  height: 100dvh;
  max-height: 100dvh;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

@media (max-width: 768px) {
  body {
    padding-top: env(safe-area-inset-top);
    padding-right: env(safe-area-inset-right);
    padding-bottom: env(safe-area-inset-bottom);
    padding-left: env(safe-area-inset-left);
    background-color: var(--color-bg-secondary);
  }
  html {
    min-height: calc(100% + env(safe-area-inset-top));
  }
}